@charset "UTF-8";

@font-face {
    font-family: 'fonte microsoft';
    src: url('../fontes/computer-pixel-7/computer_pixel-7.ttf');
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    /* Cores */

    --cor0: #f15121;
    --cor1: #7eb801;
    --cor2: #00a3ee;
    --cor3: #ffb700;
    --cor4: #15E6CD;

    /* Fontes */

    --fonte-destaque: 'fonte microsoft';
    --fonte-padrao: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--cor4);
}

header {
    background-color: var(--cor0);
    margin-bottom: 10px;
}

header > h1 {
    font: normal bolder 3em var(--fonte-destaque);
    text-align: center;
    color: var(--cor2);
}

header > nav {
    padding: 10px 0px;
}

header a {
    color: var(--cor2);
    font: normal bolder 16px var(--fonte-padrao);
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

header a:hover {
    background-color: var(--cor2);
    color: var(--cor0);
    transition-duration: 0.5s;
}

main {
    background-color: white;
    width: 90%;
    height: 800px;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
}

footer {
    background-color: var(--cor0);
    margin-top: 10px;
}

footer > p {
    font: normal bolder 16px var(--fonte-padrao);
    text-align: center;
    color: var(--cor2);
    padding: 5px;
}