@charset "UTF-8";

@font-face {
    font-family: 'fonte microsoft';
    src: url('../fontes/computer-pixel-7/computer_pixel-7.ttf');
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

:root {
    /* Cores */

    --cor0: #F15121;
    --cor1: #7EB801;
    --cor2: #00A3EE;
    --cor3: #FFB700;

    /* Fontes */

    --fonte-destaque: 'fonte microsoft';
}

body {
    background-color: white;
}

header {
    background-color: var(--cor0);
    margin-bottom: 10px;
}

header > h1 {
    font-family: var(--fonte-destaque);
    text-align: center;
    font-size: 3em;
    color: var(--cor2);
}

header a {
    text-decoration: none;
}

main {
    background-color: white;
    width: 500px;
    height: 800px;
    margin: auto;
}

footer {
    background-color: var(--cor1);
    margin-top: 10px;
}

footer > p {
    color: var(--cor3);
    text-align: center;
}